# VS Code
.vscode/
!.vscode/launch.json    # Giữ lại file launch nếu cần

# Properties
*.env                   # Ignore file chứa mật khẩu
!application.properties # Cho phép giữ lại

# Gradle
.gradle/
build/

# Logs
*.log
