# ===================== #
#   Java Spring Boot    #
# ===================== #

# Build output
/build/
/out/
/target/

# Gradle
.gradle/
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE configs
.idea/
*.iml

# VS Code
.vscode/

# Logs & OS
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# NetBeans cache (nếu dùng)
**/nb-cache/
*.ser

# Class files
*.class

# System files
*.orig
*.rej

# Node, nếu có dùng frontend
node_modules/

# Spring devtools
.spring-boot-devtools.properties

# Env & Secret
.env
.env.local
*.env
