# Ưu tiên Java là ngôn ngữ chính
*.java linguist-language=Java

# Ẩn toàn bộ HTML phụ
gs-serving-web-content-main/complete/templates/fragments/** linguist-vendored
gs-serving-web-content-main/complete/static/** linguist-vendored

# KHÔNG ẩn toàn bộ *.html
# Để GitHub vẫn nhận một chút HTML